


body{
  margin:0px;
  background:#25274d;
  text-align: center;
  font-family: Georgia, serif;
  font-size:16px; 
}
h1{
  diplay:flex;
  text-align: center;
  font-family:Georgia, serif;
  font-size: 35px;
  color:#f9fcff;
  padding:10px;
   margin-left: auto;
margin-right: auto;
width: 25%; 
}
a{
  color:#f9fcff;
  font-weight:bold;
}
a:hover {
color: #2e9cca;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 10%;
 box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 border-radius:7%;
} 
p{
 text-align: center;
color:white;
}
h2{
 color:#f9fcff; 
 text-align: center; 
}
ul{
  color:#f9fcff;
  text-align: center;
  
}
.parent {
text-align: center;
}
.parent > ul {
display: inline-block;
}

h3{
 text-align: center;
  color:#f9fcff;
}


div{
text-align: center;
  color:#f9fcff;
}
footer{
color:#f9fcff;
text-align: left;
}
/* Add a black background color to the top navigation */


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f9fcff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #2e9cca;
  color: white;
}
.topnav .icon {
  display: none;
}
.topnav {
  display: flex;
  overflow: hidden;
  align-items: center;
  background-color: #25274d;
  margin: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 0px 5px black;
  padding-top: 10px;
}
.back{
  background-image:url("sky.jpg") ;
}
